{
    "trailingComma": "all",
    "semi": false,
    "tabWidth": 4,
    "singleQuote": true,
    "printWidth": 80,
    "endOfLine": "auto",
    "arrowParens": "always",
    "plugins": ["prettier-plugin-tailwindcss"]
}
